
:root {
  --fonts-token_10: #ffffff;
  --fonts-token_50: #ffffff;
  --fonts-token_100: #ffffff;
  --fonts-token_150: #808080;
  --fonts-token_200: #333333;
  --primary-token_10: #1a2d3c;
  --primary-token_50: #0f2c42;
  --primary-token_100: #04121c;
  --primary-token_150: #000509;
  --primary-token_200: #04121c;
  --secondary-token_10: #ffffff;
  --secondary-token_50: #e1f2fe;
  --secondary-token_100: #c3e5fd;
  --secondary-token_150: #41acf8;
  --secondary-token_200: #2c9ae9;
  --tertiary-token_10: #ffbf80;
  --tertiary-token_50: #ff9833;
  --tertiary-token_100: #ff7e00;
  --tertiary-token_150: #cc6500;
  --tertiary-token_200: #8f4903;
  --positive-token_10: #04e007;
  --positive-token_50: #04b306;
  --positive-token_100: #039505;
  --positive-token_150: #027704;
  --positive-token_200: #014b02;
  --negative-token_10: #9f5005;
  --negative-token_50: #603003;
  --negative-token_100: #201001;
  --negative-token_150: #100800;
  --negative-token_200: #000000;
  --error-token_10: #ff4949;
  --error-token_50: #ff0808;
  --error-token_100: #db0000;
  --error-token_150: #af0000;
  --error-token_200: #6d0000;
  --warning-token_10: #fde363;
  --warning-token_50: #fcd71d;
  --warning-token_100: #e7c103;
  --warning-token_150: #b99b03;
  --warning-token_200: #736102;

  --inverse-fonts-token_10: #000000;
  --inverse-fonts-token_50: #000000;
  --inverse-fonts-token_100: #000000;
  --inverse-fonts-token_150: #000000;
  --inverse-fonts-token_200: #000000;
  --inverse-primary-token_10: #ffffff;
  --inverse-primary-token_50: #f4fafe;
  --inverse-primary-token_100: #eaf5fc;
  --inverse-primary-token_150: #1a8ad9;
  --inverse-primary-token_200: #0a3757;
  --inverse-secondary-token_10: #ffffff;
  --inverse-secondary-token_50: #59BEEF;
  --inverse-secondary-token_100: #bee2f9;
  --inverse-secondary-token_150: #1283c9;
  --inverse-secondary-token_200: #073450;
  --inverse-tertiary-token_10: #ffd4aa;
  --inverse-tertiary-token_50: #fea956;
  --inverse-tertiary-token_100: #fe8c1d;
  --inverse-tertiary-token_150: #e27001;
  --inverse-tertiary-token_200: #8d4601;
  --inverse-positive-token_10: #58fc5a;
  --inverse-positive-token_50: #15fa18;
  --inverse-positive-token_100: #04de07;
  --inverse-positive-token_150: #04b206;
  --inverse-positive-token_200: #026f04;
  --inverse-negative-token_10: #ffffff;
  --inverse-negative-token_50: #f2f2f2;
  --inverse-negative-token_100: #e5e5e5;
  --inverse-negative-token_150: #727272;
  --inverse-negative-token_200: #2e2e2e;
  --inverse-error-token_10: #ffbcbc;
  --inverse-error-token_50: #fe6363;
  --inverse-error-token_100: #fe2929;
  --inverse-error-token_150: #eb0101;
  --inverse-error-token_200: #930101;
  --inverse-warning-token_10: #fde779;
  --inverse-warning-token_50: #fcda2f;
  --inverse-warning-token_100: #f6cd04;
  --inverse-warning-token_150: #c5a403;
  --inverse-warning-token_200: #7b6702;

  /**
  * Texts / Headings Sizes properties
  * **/
  
  --texts-xsmall: 0.5rem;
  --texts-small: 0.8rem;
  --texts-regular: 1rem;
  --texts-large: 1.5rem;
  --texts-xlarge: 2rem;

  --headings-level1: 4rem;
  --headings-level2: 3rem;
  --headings-level3: 2.5rem;
  --headings-level4: 2rem;
  --headings-level5: 1.5rem;
  --headings-level6: 1rem;
  
  /**
  * Spacing properties
  * **/
      
  --spacing-one: 0.2rem;
  --spacing-two: 0.4rem;
  --spacing-three: 1rem;
  --spacing-four: 1.2rem;
  --spacing-five: 1.5rem;
  --spacing-six: 2rem;
  --spacing-seven: 2.5rem;

  background-color: var(--primary-token_10);

  --font-family: 'Source Sans Pro', sans-serif;
}
.dark {
  --fonts-token_10: #ffffff;
  --fonts-token_50: #ffffff;
  --fonts-token_100: #ffffff;
  --fonts-token_150: #808080;
  --fonts-token_200: #333333;
  --primary-token_10: #1a2d3c;
  --primary-token_50: #0f2c42;
  --primary-token_100: #04121c;
  --primary-token_150: #000509;
  --primary-token_200: #04121c;
  --secondary-token_10: #ffffff;
  --secondary-token_50: #e1f2fe;
  --secondary-token_100: #c3e5fd;
  --secondary-token_150: #41acf8;
  --secondary-token_200: #2c9ae9;
  --tertiary-token_10: #ffbf80;
  --tertiary-token_50: #ff9833;
  --tertiary-token_100: #ff7e00;
  --tertiary-token_150: #cc6500;
  --tertiary-token_200: #803f00;
  --positive-token_10: #04e007;
  --positive-token_50: #04b306;
  --positive-token_100: #039505;
  --positive-token_150: #027704;
  --positive-token_200: #014b02;
  --negative-token_10: #9f5005;
  --negative-token_50: #603003;
  --negative-token_100: #201001;
  --negative-token_150: #100800;
  --negative-token_200: #000000;
  --error-token_10: #ff4949;
  --error-token_50: #ff0808;
  --error-token_100: #db0000;
  --error-token_150: #af0000;
  --error-token_200: #6d0000;
  --warning-token_10: #fde363;
  --warning-token_50: #fcd71d;
  --warning-token_100: #d3b002;
  --warning-token_150: #b99b03;
  --warning-token_200: #736102;
  --inverse-fonts-token_10: #000000;
  --inverse-fonts-token_50: #000000;
  --inverse-fonts-token_100: #000000;
  --inverse-fonts-token_150: #000000;
  --inverse-fonts-token_200: #000000;
  --inverse-primary-token_10: #ffffff;
  --inverse-primary-token_50: #f4fafe;
  --inverse-primary-token_100: #eaf5fc;
  --inverse-primary-token_150: #1a8ad9;
  --inverse-primary-token_200: #0a3757;
  --inverse-secondary-token_10: #ffffff;
  --inverse-secondary-token_50: #59BEEF;
  --inverse-secondary-token_100: #bee2f9;
  --inverse-secondary-token_150: #1283c9;
  --inverse-secondary-token_200: #073450;
  --inverse-tertiary-token_10: #ffd4aa;
  --inverse-tertiary-token_50: #fea956;
  --inverse-tertiary-token_100: #fe8c1d;
  --inverse-tertiary-token_150: #e27001;
  --inverse-tertiary-token_200: #8d4601;
  --inverse-positive-token_10: #58fc5a;
  --inverse-positive-token_50: #15fa18;
  --inverse-positive-token_100: #04de07;
  --inverse-positive-token_150: #04b206;
  --inverse-positive-token_200: #026f04;
  --inverse-negative-token_10: #ffffff;
  --inverse-negative-token_50: #f2f2f2;
  --inverse-negative-token_100: #e5e5e5;
  --inverse-negative-token_150: #727272;
  --inverse-negative-token_200: #2e2e2e;
  --inverse-error-token_10: #ffbcbc;
  --inverse-error-token_50: #fe6363;
  --inverse-error-token_100: #fe2929;
  --inverse-error-token_150: #eb0101;
  --inverse-error-token_200: #930101;
  --inverse-warning-token_10: #fde779;
  --inverse-warning-token_50: #fcda2f;
  --inverse-warning-token_100: #f6cd04;
  --inverse-warning-token_150: #c5a403;
  --inverse-warning-token_200: #7b6702;
}
.light {
  --fonts-token_10: #000000;
  --fonts-token_50: #000000;
  --fonts-token_100: #000000;
  --fonts-token_150: #000000;
  --fonts-token_200: #000000;
  --primary-token_10: #FFFFFF;
  --primary-token_50: #F4FAFE;
  --primary-token_100: #e7ecf8;
  --primary-token_150: #d9e2f6;
  --primary-token_200: #c8d6f4;
  --secondary-token_10: #B8B9E7;
  --secondary-token_50: #A4A3FC;
  --secondary-token_100: #605BFF;
  --secondary-token_150: #5E37FF;
  --secondary-token_200: #3B1BBB;
  --tertiary-token_10: #f9d7b6;
  --tertiary-token_50: #e3b383;
  --tertiary-token_100: #ff860e;
  --tertiary-token_150: #fb8712;
  --tertiary-token_200: #ee7904;
  --positive-token_10: #58fc5a;
  --positive-token_50: #15fa18;
  --positive-token_100: #04de07;
  --positive-token_150: #04b206;
  --positive-token_200: #026f04;
  --negative-token_10: #ffffff;
  --negative-token_50: #f2f2f2;
  --negative-token_100: #e5e5e5;
  --negative-token_150: #727272;
  --negative-token_200: #2e2e2e;
  --error-token_10: #ffbcbc;
  --error-token_50: #fe6363;
  --error-token_100: #fe2929;
  --error-token_150: #eb0101;
  --error-token_200: #930101;
  --warning-token_10: #f7e2a3;
  --warning-token_50: #f0ca57;
  --warning-token_100: #FFC927;
  --warning-token_150: #c99b12;
  --warning-token_200: #7e610b;
  --inverse-fonts-token_10: #ffffff;
  --inverse-fonts-token_50: #ffffff;
  --inverse-fonts-token_100: #ffffff;
  --inverse-fonts-token_150: #808080;
  --inverse-fonts-token_200: #333333;
  --inverse-primary-token_10: #12598e;
  --inverse-primary-token_50: #0b3555;
  --inverse-primary-token_100: #04121c;
  --inverse-primary-token_150: #02090e;
  --inverse-primary-token_200: #000000;
  --inverse-secondary-token_10: #c7dceb;
  --inverse-secondary-token_50: #468cbe;
  --inverse-secondary-token_100: #172f40;
  --inverse-secondary-token_150: #0b1720;
  --inverse-secondary-token_200: #000000;
  --inverse-tertiary-token_10: #ffbf80;
  --inverse-tertiary-token_50: #ff9833;
  --inverse-tertiary-token_100: #ff7e00;
  --inverse-tertiary-token_150: #cc6500;
  --inverse-tertiary-token_200: #803f00;
  --inverse-positive-token_10: #04e007;
  --inverse-positive-token_50: #04b306;
  --inverse-positive-token_100: #039505;
  --inverse-positive-token_150: #027704;
  --inverse-positive-token_200: #014b02;
  --inverse-negative-token_10: #9f5005;
  --inverse-negative-token_50: #603003;
  --inverse-negative-token_100: #201001;
  --inverse-negative-token_150: #100800;
  --inverse-negative-token_200: #000000;
  --inverse-error-token_10: #ff4949;
  --inverse-error-token_50: #ff0808;
  --inverse-error-token_100: #db0000;
  --inverse-error-token_150: #af0000;
  --inverse-error-token_200: #6d0000;
  --inverse-warning-token_10: #fde363;
  --inverse-warning-token_50: #fcd71d;
  --inverse-warning-token_100: #e7c103;
  --inverse-warning-token_150: #b99b03;
  --inverse-warning-token_200: #736102;
}

