.container {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 80px;
  width: 300px;
  height: 300px;
  overflow-y: auto;
  background-color: var(--primary-token_10);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 20px;
  padding: 20px;
}

.houseLink {
  border-radius: 30px;
  transition: background-color .2s;

  &:hover {
    background-color: var(--primary-token_50);
  }
}

.houseActive {
  background-color: var(--primary-token_100);
}